.contAddCard {
  position: relative;
  width: 90vw;
  max-width: 335px;
  border-radius: 8px;
  padding: 24px;
  background: var(--modal-new-board-bg-cont);
}

.closeBtnSvg {
  position: absolute;
  display: block;
  top: 14px;
  right: 14px;
  width: 18px;
  height: 18px;
  stroke: var(--modal-new-board-color);
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
  color: var(--modal-new-board-color);
}

.input,
.textarea {
  border: 1px solid var(--modal-new-board-input-border);
  border-radius: 8px;
  width: 100%;
  max-width: 287px;
  height: 49px;
  padding-left: 18px;
  background: var(--modal-new-board-input-bg);
  box-shadow: 0 4px 16px 0 var(--modal-new-board-input-box-shadow);

  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--modal-new-board-color);

  margin-bottom: 14px;
  transition: border-color 0.3s ease;
}

.textarea {
  height: 154px;
  padding: 14px 18px;
  margin-bottom: 24px;
  resize: none;
}

.input:hover,
.textarea:hover {
  border-color: var(--modal-new-board-input-hover-border);
}

.input:focus,
.textarea:focus {
  border-color: var(--modal-new-board-input-focus-border);
  outline: none;
}

/* For placeholder */
.input::placeholder,
.textarea::placeholder {
  color: var(--modal-new-board-placeholder-color);
  opacity: 1;
}

/* For different browsers */
.input::placeholder,
.textarea::placeholder,
.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder,
.input::-moz-placeholder,
.textarea::-moz-placeholder,
.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder,
.input:-moz-placeholder,
.textarea:-moz-placeholder {
  color: var(--modal-new-board-placeholder-color);
}

.error {
  font-size: 10px;
  color: red;
  margin-bottom: 8px;
}

/* ============================Radio buttons==================== */

.radioGroup {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 14px;
}

.radioTitle {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--radioTitle-color);
  margin-bottom: 4px;
}

.radioOption {
  /* display: flex;
  align-items: center; */
}

.radioInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radioLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.radioIcon {
  width: 22px;
  height: 22px;
  display: block;
  align-items: center;
  justify-content: center;
}

/* ============================================================= */

.addCardtBtn,
.addCardBtnViolet {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  outline: none;
  border-radius: 8px;
  border: none;
  max-width: 287px;
  width: 100%;
  height: 49px;
  background: var(--modal-new-board-button-bg);
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--modal-new-board-color-btn);
}

.addCardtBtn:hover {
  background: var(--modal-new-board-button-hover-bg);
}

.addCardBtnViolet {
  background: var(--modal-new-board-button-bg-violet);
}

.addCardBtnViolet:hover {
  background: var(--modal-new-board-button-hover-bg-violet);
}

.createBtnSvg {
  display: block;
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .contAddCard {
    max-width: 350px;
  }

  .input,
  .textarea {
    max-width: 302px;
  }

  .addCardtBtn,
  .addCardBtnViolet {
    max-width: 302px;
  }
}

@media screen and (min-width: 1440px) {
}
