.contActiveBoard {
  width: 100%;
  padding: 14px 20px;
}

.contTitleBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.contFilter {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.titleBoard {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
}

.filterSvg {
  display: block;
  width: 16px;
  height: 16px;
  stroke: currentColor;
  fill: none;
}

.titleFilter {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.8);
}

.addColumnBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 335px;

  border-radius: 8px;
  border: none;
  background: #ffffffe8;
  height: 56px;
  cursor: pointer;
  /* color: #a3a5e7; */
}

/* .addColumnBtn:hover {
    background: #efededdf;
} */

.createColumnSvg {
  display: block;
  width: 28px;
  height: 28px;
  /* stroke: currentColor; */
  /* fill: none; */
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.iconNormal {
  width: 1.111328125em;
}
