.contActiveBoard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 14px 20px;
  min-height: 0;
}

.contTitleBoard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
  color: var(--cont-title-board-color);
}

.contFilter {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  cursor: pointer;
}

.titleBoard {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  padding: 5px;
}

.background {
  background-color: #ffffff;
  border-radius: 6px;
}

.filterSvg {
  display: block;
  width: 16px;
  height: 16px;
  stroke: currentColor;
  fill: none;
}

.titleFilter {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

/* =====================ColumnsList========================= */

.contColumnsBtnAdd {
  display: flex;
  align-items: stretch;
  gap: 24px;
  flex: 1 1 auto;
  /* flex: 0 0 auto; */
  min-height: 0;
  overflow-x: auto;
  margin-bottom: 70px;

  width: calc(100vw - 40px);
  max-width: calc(100vw - 40px);

  padding-bottom: 6px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;

  scrollbar-color: var(--color-horizontal-scroll) var(--horizontal-scroll-track-color);
}

.contColumnsBtnAdd::-webkit-scrollbar {
  height: 8px;
}

.contColumnsBtnAdd::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.contColumnsBtnAdd::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.contColumnsBtnAdd::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* background: var(--horizontal-scroll-hover); */
}

.columnsList {
  display: inline-flex;
  gap: 34px;
  align-items: stretch;
  height: 100%;
  width: max-content;
  white-space: nowrap;
}

.columnItem {
  flex: 0 0 auto;
  display: flex;
  height: 100%;
  align-items: stretch;
}

/* ============================================== */

.addColumnBtn {
  flex: 0 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 335px;
  border-radius: 8px;
  border: none;
  background: #ffffff;
  height: 56px;
  cursor: pointer;
  align-self: flex-start;

  flex-shrink: 0;
  outline: none;
}

.createColumnSvg {
  display: block;
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .contActiveBoard {
    padding: 14px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .contColumnsBtnAdd {
    width: calc(100dvw - 260px - 40px);
    max-width: calc(100dvw - 260px - 40px);
  }
}
