.contColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;

  flex: 1;
}

.columnContent {
  flex: 1;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  /* width: 100%;
  max-width: 335px; */
  width: 335px;
  height: 56px;
  background: #fff;
  padding: 20px 18px;
}

.titleColumn {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
}

.updateDelBoard {
  display: flex;
  align-items: center;
  gap: 8px;
}

.updateColumnSvg,
.deleteColumnSvg {
  display: block;
  width: 16px;
  height: 16px;
  /* stroke: var(--board-item-icon-stroke); */
  stroke: rgba(22, 22, 22, 0.5);
  fill: none;
  cursor: pointer;
}

.addCardBtn,
.addCardBtnViolet {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  outline: none;
  width: 335px;
  border-radius: 8px;
  border: none;
  background: var(--modal-new-board-button-bg);
  height: 56px;
  cursor: pointer;
  align-self: flex-start;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--modal-new-board-color-btn);

  margin-top: auto;
  align-self: stretch;

  margin-bottom: 16px;
  min-height: 56px;
}

.addCardBtn:hover {
  background: var(--modal-new-board-button-hover-bg);
}

.addCardBtnViolet {
  background: var(--modal-new-board-button-bg-violet);
}

.addCardBtnViolet:hover {
  background: var(--modal-new-board-button-hover-bg-violet);
}

.createCardSvg {
  display: block;
  width: 28px;
  height: 28px;
}
