.input,
.inputLastElem {
  border: 1px solid rgba(190, 219, 176, 0.5);
  border-radius: 8px;
  width: 100%;
  max-width: 287px;
  height: 49px;
  padding-left: 18px;

  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  /* background: #1f1f1f; */
  background: #151515;
  margin-bottom: 14px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;

  transition: border-color 0.3s ease;
}

.input:hover,
.inputLastElem:hover {
  border-color: #bedbb0;
}

.input:focus,
.inputLastElem:focus {
  border-color: #bedbb0;
  outline: none;
}

.input:not(:placeholder-shown),
.inputLastElem:not(:placeholder-shown) {
  border-color: #bedbb0;
}

/* For placeholder */
.input::placeholder,
.inputLastElem::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

/* For different browsers */
.input::-webkit-input-placeholder,
.inputLastElem::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.input::-moz-placeholder,
.inputLastElem::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.input:-ms-input-placeholder,
.inputLastElem:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.input:-moz-placeholder,
.inputLastElem:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.inputLastElem {
  margin-bottom: 24px;
}

.btnStyle {
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 287px;
  height: 49px;

  background: #bedbb0;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  cursor: pointer;

  transition: outline 0.3s ease, outline-offset 0.4s ease;
}

.btnStyle:hover {
  background: #c8e8bc;
}

.btnStyle:active {
  background: #a3c99a;
}

.btnStyle:focus {
  outline: 2px solid #bedbb0;
  outline-offset: 2px;
}

/* ============================reset browser settings======================================== */

.input:-webkit-autofill,
.inputLastElem:-webkit-autofill {
  background-color: #151515 !important;
  -webkit-text-fill-color: #fff !important;
  box-shadow: 0 0 0px 1000px #151515 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #151515 inset !important;
  transition: background-color 0s;
}

.input:-webkit-autofill:focus,
.inputLastElem:-webkit-autofill:focus {
  background-color: #151515 !important;
  -webkit-text-fill-color: #fff !important;
}

/* ========================================================================================== */
