.contCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 330px;
  max-width: 100%;
  background: var(--card-bg);
  /* padding: 14px 20px; */
}

.dragHandle {
  cursor: grab;
  user-select: none;
  padding: 14px 20px 0 20px;
  margin-bottom: 14px;
}

.dragHandle:active {
  cursor: grabbing;
}

.cardTitle {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  padding-bottom: 8px;
  color: var(--card-title-color);
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--card-description-color);
  padding-bottom: 14px;

  border-bottom: 1px solid var(--card-dscr-border-color);

  white-space: normal;
}

.dataCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 14px 20px;
}

.contPrDl {
  display: flex;
  gap: 14px;
  align-items: center;
}

/* .contPriority {} */

.priorityItem {
  display: flex;
  gap: 4px;
  align-items: center;
}

.priorityColor {
  display: flex;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.priorityText,
.deadlineDate {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: var(--card-deadlineDate-color);
}

.contDeadline {}

.titleCategory {
  font-weight: 400;
  font-size: 8px;
  letter-spacing: -0.02em;
  color: var(--card-titleCategory-color);
  margin-bottom: 4px;
}

.toolsCards {
  display: flex;
  gap: 8px;
  align-items: center;
}

.toolsIconSvg,
.moveIconSvg {
  display: block;
  width: 16px;
  height: 16px;
  /* stroke: var(--board-item-icon-stroke); */
  stroke: var(--column-svg-stroke);
  fill: none;
  cursor: pointer;
}

/* ============================================================================  */

.dropdownWrapper {
  background-color: var(--dpd-bg);
  border-radius: 8px;
  padding: 18px;
  box-shadow: 0 4px 16px var(--dpd-shadow);
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--dpd-item-color);
  border-radius: 8px;
  cursor: pointer;
}

.dropdownItem:not(:last-child) {
  margin-bottom: 8px;
}

.dropdownItem:hover {
  color: var(--dpd-item-hover-color);
}

.dropdownItem:hover .moveIconSvg {
  stroke: var(--dpd-item-hover-color);
}