.react-datepicker {
  background: #fff;
  border: 1px solid #5255bc;
  border-radius: 8px;
  width: 233px;
  height: 254px;
  padding: 18px;
}

.react-datepicker__header {
  background: inherit;
  border: none;
}

.openCalendarBtn {
  border: none;
  background: inherit;
  padding: 0;
  cursor: pointer;
}

.openCalendarSvg {
  display: block;
  width: 24px;
  height: 24px;
}

.react-datepicker__triangle {
  display: none;
}

/* Месяц и год */
.react-datepicker__current-month {
  letter-spacing: -0.32px;
  font-size: 16px;
  font-weight: 500;
}

.react-datepicker__week {
  display: flex;
  /* justify-content: space-between; */
}

/* День недели (Mon, Tue ...) */
.react-datepicker__day-name {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.5);
  width: 23px;
  line-height: 26px;
}

/* Дни месяца */
.react-datepicker__day {
  width: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 50%;
  cursor: pointer;
}
