.react-datepicker__current-month {
  color: var(--calendarMonthColor);
  font-size: var(--fontSize16);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight500);
  letter-spacing: -0.32px;
}

.react-datepicker {
  background: var(--calendarBgColor);
  border-radius: 8px;
  border: 1px solid var(--inputBorderFocus);
  padding: 18px;
}

.openCalendarBtn {
  border: none;
  background: inherit;
  padding: 0;
  cursor: pointer;
}

.openCalendarSvg {
  display: block;
  width: 24px;
  height: 24px;
}

.react-datepicker__triangle {
  display: none;
}
