.contHeader {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 14px 20px;
  background-color: var(--bg-color-header);

  /* position: relative; */
}

.menuSvg {
  display: block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.contTheme {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-color-cont-theme-header);
}

.themeSvg {
  display: block;
  width: 16px;
  height: 16px;
  stroke: currentColor;
  fill: none;
}

.contUser {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--name);
}

.userSvg {
  display: block;
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 768px) {
  .contHeader {
    padding: 18px 32px;
  }

  .menuSvg {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 1440px) {
  .contHeader {
    padding: 18px 24px;
  }

  .container {
    margin-left: auto;
  }
}