:root {
  --bg-color: #f6f6f7;

  /* Sidebar */
  --bg-color-sidebar: #ffffff;
  --text-color: #161616;
  --text-my-board: rgba(22, 22, 22, 0.5);
  --cont-my-board: rgba(22, 22, 22, 0.1);
  --bg-color-need-help: #f6f6f7;
  --text-span-color: #bedbb0;

  /* Header */
  --bg-color-header: #fcfcfc;
  --text-color-cont-theme-header: rgba(22, 22, 22, 0.8);
  --name: #161616;

  /* Home Page */
  --bg-color-cont-home-page: #f6f6f7;
  --color-cont-home-page: rgba(22, 22, 22, 0.7);
}

/* Dark */

.theme-dark {
  /* Sidebar */
  --bg-color-sidebar: #121212;
  --text-color: #ffffff;
  --text-my-board: rgba(255, 255, 255, 0.5);
  --cont-my-board: rgba(255, 255, 255, 0.3);
  --bg-color-need-help: #1f1f1f;
  --text-span-color: #bedbb0;

  /* Header */
  --bg-color-header: #161616;
  --text-color-cont-theme-header: rgba(255, 255, 255, 0.8);
  --name: #ffffff;

  /* Home Page */
  --bg-color-cont-home-page: #1f1f1f;
  --color-cont-home-page: rgba(255, 255, 255, 0.5);
}

/* Violet */
.theme-violet {
  /* Sidebar */
  --bg-color-sidebar: #5255bc;
  --text-color: #ffffff;
  --text-my-board: rgba(255, 255, 255, 0.5);
  --cont-my-board: rgba(255, 255, 255, 0.2);
  --bg-color-need-help: rgba(255, 255, 255, 0.5);
  --text-span-color: #5255bc;

  /* Header */
  --bg-color-header: #fcfcfc;
  --text-color-cont-theme-header: rgba(22, 22, 22, 0.8);
  --name: #161616;

  /* Home Page */
  --bg-color-cont-home-page: #ecedfd;
  --color-cont-home-page: rgba(22, 22, 22, 0.7);
}