:root {
  --bg-color: #f6f6f7;

  /* Sidebar */
  --bg-color-sidebar: #ffffff;
  --text-color: #161616;
  --text-my-board: rgba(22, 22, 22, 0.5);
  --cont-my-board: rgba(22, 22, 22, 0.1);
  --bg-color-need-help: #f6f6f7;
  --text-span-color: #bedbb0;

  /* Header */
  --bg-color-header: #fcfcfc;
  --text-color-cont-theme-header: rgba(22, 22, 22, 0.8);
  --name: #161616;

  /* Home Page */
  --bg-color-cont-home-page: #f6f6f7;
  --color-cont-home-page: rgba(22, 22, 22, 0.7);
  /* --tex-home-page-color: rgba(22, 22, 22, 0.7); */
  --color-text-home-span: #bedbb0;

  /* New board modal */
  --modal-new-board-bg-cont: #fcfcfc;
  --modal-new-board-color: #161616;
  --modal-new-board-input-border: rgba(190, 219, 176, 0.5);
  --modal-new-board-input-bg: #fcfcfc;
  --modal-new-board-input-box-shadow: rgba(22, 22, 22, 0.08);
  --modal-new-board-input-hover-border: #bedbb0;
  --modal-new-board-input-focus-border: #bedbb0;
  --modal-new-board-placeholder-color: rgba(22, 22, 22, 0.2);
  --modal-new-board-icon-item-stroke: rgba(22, 22, 22, 0.5);
  --modal-new-board-button-bg: #bedbb0;
  --modal-new-board-button-hover-bg: #9dc888;
  --modal-new-board-color-btn: #161616;

  /* boardItem */
  --board-item-color: rgba(22, 22, 22, 0.5);
  --active-board-color: #161616;
  --active-board-bg: #f6f6f7;
  --board-item-border-r: #bedbb0;
  --board-item-icon-stroke: rgba(22, 22, 22, 0.5);
  --board-item-activeSVG: #161616;

  /* ActiveBoard */
  --cont-title-board-color: #161616;

  /* Add column Btn */
  --add-column-btn-bg: #ffffff;
  --add-column-btn-color: #161616;

  /* horizontal scrolling */
  --color-horizontal-scroll: #bedbb0;
  --horizontal-scroll-track-color: #ffffff;
  --horizontal-scroll-hover: #9dc888;

  /* AddCardModal */
  --radioTitle-color: rgba(22, 22, 22, 0.5);

  /* Calendar */
  --react-datepicker-background: #fff;
  --react-datepicker-border: #9dc888;
  --rdp-day-names-border-top: rgba(22, 22, 22, 0.2);
  --rdp-day-name-color: rgba(22, 22, 22, 0.5);

  --current-month-color: #161616;
  --navigation-icon-border-color: #9dc888;
  --navigation-icon-hover-border-color: #c7dfbb;

  --rdp-day-hover-background-color: #c7dfbb;
  --rdp-day-color: #161616;
  --rdp-day-day-color: #161616;
  --rdp-day-selected-background-color: #9dc888;

  --rdp-day-outside-month-color: rgba(22, 22, 22, 0.3);
  --rdp-day-disabled-color: rgba(22, 22, 22, 0.2);
  --rdp-day-disabled-bg-hover: rgba(22, 22, 22, 0.1);

  /* Column */
  --column-bg: #fff;
  --column-title-color: #161616;
  --column-svg-stroke: rgba(22, 22, 22, 0.5);

  /* Card */
  --card-bg: #fff;
  --card-title-color: #161616;
  --card-description-color: rgba(22, 22, 22, 0.7);
  --card-dscr-border-color: rgba(22, 22, 22, 0.1);
  --card-titleCategory-color: rgba(22, 22, 22, 0.5);
  --card-deadlineDate-color: #161616;

  /* dropdownMoveCard */
  --dpd-bg: #ffffff;
  --dpd-shadow: rgba(0, 0, 0, 0.35);
  --dpd-item-color: #161616;
  --dpd-item-hover-color: #9dc888;
}

/* Dark */

.theme-dark {
  /* Sidebar */
  --bg-color-sidebar: #121212;
  --text-color: #ffffff;
  --text-my-board: rgba(255, 255, 255, 0.5);
  --cont-my-board: rgba(255, 255, 255, 0.3);
  --bg-color-need-help: #1f1f1f;
  --text-span-color: #bedbb0;

  /* Header */
  --bg-color-header: #161616;
  --text-color-cont-theme-header: rgba(255, 255, 255, 0.8);
  --name: #ffffff;

  /* Home Page */
  --bg-color-cont-home-page: #1f1f1f;
  --color-cont-home-page: rgba(255, 255, 255, 0.5);
  --color-text-home-span: #bedbb0;

  /* New board modal */
  --modal-new-board-bg-cont: #151515;
  --modal-new-board-color: #ffffff;
  --modal-new-board-input-border: rgba(190, 219, 176, 0.5);
  --modal-new-board-input-bg: #1f1f1f;
  --modal-new-board-input-box-shadow: rgba(22, 22, 22, 0.08);
  --modal-new-board-input-hover-border: #bedbb0;
  --modal-new-board-input-focus-border: #bedbb0;
  --modal-new-board-placeholder-color: rgba(255, 255, 255, 0.5);
  --modal-new-board-icon-item-stroke: rgba(255, 255, 255, 0.5);
  --modal-new-board-button-bg: #bedbb0;
  --modal-new-board-button-hover-bg: #9dc888;
  --modal-new-board-color-btn: #161616;

  /* boardItem */
  --board-item-color: rgba(255, 255, 255, 0.5);
  --active-board-color: #ffffff;
  --active-board-bg: #1f1f1f;
  --board-item-border-r: #bedbb0;
  --board-item-icon-stroke: rgba(255, 255, 255, 0.5);
  --board-item-activeSVG: #ffffff;

  /* ActiveBoard */
  --cont-title-board-color: #ffffff;

  /* Add column Btn */
  --add-column-btn-bg: #161616;
  --add-column-btn-color: #fff;

  /* horizontal scrolling */
  --color-horizontal-scroll: #161616;
  --horizontal-scroll-track-color: #ffffff;
  --horizontal-scroll-hover: rgba(255, 255, 255, 0.1);

  /* AddCardModal */
  --radioTitle-color: rgba(255, 255, 255, 0.5);

  /* Calendar */
  --react-datepicker-background: #1f1f1f;
  --react-datepicker-border: #9dc888;
  --rdp-day-names-border-top: rgba(255, 255, 255, 0.2);
  --rdp-day-name-color: rgba(255, 255, 255, 0.5);

  --current-month-color: #fff;
  --navigation-icon-border-color: #9dc888;
  --navigation-icon-hover-border-color: #c7dfbb;

  --rdp-day-hover-background-color: #c7dfbb;
  --rdp-day-color: #161616;
  --rdp-day-day-color: #fff;
  --rdp-day-selected-background-color: #9dc888;

  --rdp-day-outside-month-color: rgba(255, 255, 255, 0.3);
  --rdp-day-disabled-color: rgba(255, 255, 255, 0.2);
  --rdp-day-disabled-bg-hover: rgba(255, 255, 255, 0.4);

  /* Column */
  --column-bg: #121212;
  --column-title-color: #fff;
  --column-svg-stroke: rgba(255, 255, 255, 0.5);

  /* Card */
  --card-bg: #161616;
  --card-title-color: #fff;
  --card-description-color: rgba(255, 255, 255, 0.5);
  --card-dscr-border-color: rgba(255, 255, 255, 0.3);
  --card-titleCategory-color: rgba(255, 255, 255, 0.5);
  --card-deadlineDate-color: #fff;

  /* dropdownMoveCard */
  --dpd-bg: #1f1f1f;
  --dpd-shadow: rgba(255, 255, 255, 0.3);
  --dpd-item-color: rgba(255, 255, 255, 0.5);
  --dpd-item-hover-color: #9dc888;
}

/* Violet */

.theme-violet {
  /* Sidebar */
  --bg-color-sidebar: #5255bc;
  --text-color: #ffffff;
  --text-my-board: rgba(255, 255, 255, 0.5);
  --cont-my-board: rgba(255, 255, 255, 0.2);
  --bg-color-need-help: rgba(255, 255, 255, 0.5);
  --text-span-color: #5255bc;

  /* Header */
  --bg-color-header: #fcfcfc;
  --text-color-cont-theme-header: rgba(22, 22, 22, 0.8);
  --name: #161616;

  /* Home Page */
  --bg-color-cont-home-page: #ecedfd;
  --color-cont-home-page: rgba(22, 22, 22, 0.7);
  --color-text-home-span: #5255bc;

  /* New board modal */
  --modal-new-board-input-border: #7b7ede;
  --modal-new-board-input-box-shadow: rgba(22, 22, 22, 0.08);
  --modal-new-board-input-hover-border: #4a4dad;
  --modal-new-board-input-focus-border: #4a4dad;
  --modal-new-board-button-hover-bg-violet: #7b7ede;
  --modal-new-board-button-bg-violet: #5255bc;
  --modal-new-board-color-btn: #ffffff;

  /* boardItem */
  --board-item-color: rgba(255, 255, 255, 0.5);
  --active-board-color: #ffffff;
  --active-board-bg: rgba(236, 237, 253, 0.4);
  --board-item-border-r: #ffffff;
  --board-item-icon-stroke: rgba(255, 255, 255, 0.5);
  --board-item-activeSVG: #ffffff;

  /* ActiveBoard */
  --cont-title-board-color: #161616;

  /* Add column Btn */
  --add-column-btn-bg: #ffffff;
  --add-column-btn-color: #161616;

  /* horizontal scrolling */
  --color-horizontal-scroll: #b8bcfd;
  --horizontal-scroll-track-color: #ffffff;
  --horizontal-scroll-hover: #5255bc;

  /* AddCardModal */
  --radioTitle-color: rgba(22, 22, 22, 0.5);

  /* Calendar */
  --react-datepicker-background: #fff;
  --react-datepicker-border: #5255bc;
  --rdp-day-names-border-top: rgba(22, 22, 22, 0.2);
  --rdp-day-name-color: rgba(22, 22, 22, 0.5);

  --current-month-color: #161616;
  --navigation-icon-border-color: #5255bc;
  --navigation-icon-hover-border-color: #9699fc;

  --rdp-day-hover-background-color: #9699fc;
  --rdp-day-color: #fff;
  --rdp-day-day-color: #161616;
  --rdp-day-selected-background-color: #5255bc;

  --rdp-day-outside-month-color: rgba(22, 22, 22, 0.3);
  --rdp-day-disabled-color: rgba(22, 22, 22, 0.2);
  --rdp-day-disabled-bg-hover: rgba(22, 22, 22, 0.1);

  /* Column */
  --column-bg: #fff;
  --column-title-color: #161616;
  --column-svg-stroke: rgba(22, 22, 22, 0.5);

  /* Card */
  --card-bg: #fff;
  --card-title-color: #161616;
  --card-description-color: rgba(22, 22, 22, 0.7);
  --card-dscr-border-color: rgba(22, 22, 22, 0.1);
  --card-titleCategory-color: rgba(22, 22, 22, 0.5);
  --card-deadlineDate-color: #161616;

  /* dropdownMoveCard */
  --dpd-bg: #ffffff;
  --dpd-shadow: rgba(0, 0, 0, 0.35);
  --dpd-item-color: #161616;
  --dpd-item-hover-color: #5255bc;
}