:root {
  --bg-color: #f6f6f7;

  /* Sidebar */
  --bg-color-sidebar: #ffffff;
  --text-color: #161616;
  --text-my-board: rgba(22, 22, 22, 0.5);
  --cont-my-board: rgba(22, 22, 22, 0.1);
  --bg-color-need-help: #f6f6f7;
  --text-span-color: #bedbb0;

  /* Header */
  --bg-color-header: #fcfcfc;
  --text-color-cont-theme-header: rgba(22, 22, 22, 0.8);
  --name: #161616;

  /* Home Page */
  --bg-color-cont-home-page: #f6f6f7;
  --color-cont-home-page: rgba(22, 22, 22, 0.7);
  /* --tex-home-page-color: rgba(22, 22, 22, 0.7); */
  --color-text-home-span: #bedbb0;

  /* New board modal */
  --modal-new-board-bg-cont: #fcfcfc;
  --modal-new-board-color: #161616;
  --modal-new-board-input-border: rgba(190, 219, 176, 0.5);
  --modal-new-board-input-bg: #fcfcfc;
  --modal-new-board-input-box-shadow: rgba(22, 22, 22, 0.08);
  --modal-new-board-input-hover-border: #bedbb0;
  --modal-new-board-input-focus-border: #bedbb0;
  --modal-new-board-placeholder-color: rgba(22, 22, 22, 0.2);
  --modal-new-board-icon-item-stroke: rgba(22, 22, 22, 0.5);
  --modal-new-board-button-bg: #bedbb0;
  --modal-new-board-button-hover-bg: #9dc888;
  --modal-new-board-color-btn: #161616;

  /* boardItem */
  --board-item-color: rgba(22, 22, 22, 0.5);
  --active-board-color: #161616;
  --active-board-bg: #f6f6f7;
  --board-item-border-r: #bedbb0;
  --board-item-icon-stroke: rgba(22, 22, 22, 0.5);
  --board-item-activeSVG: #161616;
}

/* Dark */

.theme-dark {
  /* Sidebar */
  --bg-color-sidebar: #121212;
  --text-color: #ffffff;
  --text-my-board: rgba(255, 255, 255, 0.5);
  --cont-my-board: rgba(255, 255, 255, 0.3);
  --bg-color-need-help: #1f1f1f;
  --text-span-color: #bedbb0;

  /* Header */
  --bg-color-header: #161616;
  --text-color-cont-theme-header: rgba(255, 255, 255, 0.8);
  --name: #ffffff;

  /* Home Page */
  --bg-color-cont-home-page: #1f1f1f;
  --color-cont-home-page: rgba(255, 255, 255, 0.5);
  --color-text-home-span: #bedbb0;

  /* New board modal */
  --modal-new-board-bg-cont: #151515;
  --modal-new-board-color: #ffffff;
  --modal-new-board-input-border: rgba(190, 219, 176, 0.5);
  --modal-new-board-input-bg: #1f1f1f;
  --modal-new-board-input-box-shadow: rgba(22, 22, 22, 0.08);
  --modal-new-board-input-hover-border: #bedbb0;
  --modal-new-board-input-focus-border: #bedbb0;
  --modal-new-board-placeholder-color: rgba(255, 255, 255, 0.5);
  --modal-new-board-icon-item-stroke: rgba(255, 255, 255, 0.5);
  --modal-new-board-button-bg: #bedbb0;
  --modal-new-board-button-hover-bg: #9dc888;
  --modal-new-board-color-btn: #161616;

  /* boardItem */
  --board-item-color: rgba(255, 255, 255, 0.5);
  --active-board-color: #ffffff;
  --active-board-bg: #1f1f1f;
  --board-item-border-r: #bedbb0;
  --board-item-icon-stroke: rgba(255, 255, 255, 0.5);
  --board-item-activeSVG: #ffffff;
}

/* Violet */
.theme-violet {
  /* Sidebar */
  --bg-color-sidebar: #5255bc;
  --text-color: #ffffff;
  --text-my-board: rgba(255, 255, 255, 0.5);
  --cont-my-board: rgba(255, 255, 255, 0.2);
  --bg-color-need-help: rgba(255, 255, 255, 0.5);
  --text-span-color: #5255bc;

  /* Header */
  --bg-color-header: #fcfcfc;
  --text-color-cont-theme-header: rgba(22, 22, 22, 0.8);
  --name: #161616;

  /* Home Page */
  --bg-color-cont-home-page: #ecedfd;
  --color-cont-home-page: rgba(22, 22, 22, 0.7);
  --color-text-home-span: #5255bc;

  /* New board modal */
  --modal-new-board-input-border: #7b7ede;
  --modal-new-board-input-box-shadow: rgba(22, 22, 22, 0.08);
  --modal-new-board-input-hover-border: #4a4dad;
  --modal-new-board-input-focus-border: #4a4dad;
  --modal-new-board-button-hover-bg-violet: #7b7ede;
  --modal-new-board-button-bg-violet: #5255bc;
  --modal-new-board-color-btn: #ffffff;

  /* boardItem */
  --board-item-color: rgba(255, 255, 255, 0.5);
  --active-board-color: #ffffff;
  --active-board-bg: rgba(236, 237, 253, 0.4);
  --board-item-border-r: #ffffff;
  --board-item-icon-stroke: rgba(255, 255, 255, 0.5);
  --board-item-activeSVG: #ffffff;
}
